/* =======
IMPORTS
======= */
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

/* =========
VARIABLES
========= */
/* #region session */
:root {
    --offset-value: 30;
    --btn-size: 60;

    --orange: #FFAA33;
}
/* #endregion */

/* =======
GOOGLE
======= */
/* #region session */
nav .material-symbols-outlined {
    color: #FFAA33;
    font-size: 3rem;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}
.other_container {
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* #endregion */

/* =======
WRAPPER
======= */
/* #region session */
.wrapper {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 600;
    height: 100vh;
    width: 100%;
    position: relative;
    /* background: linear-gradient(to top right, #4ECA78, #D0DB68); */
}
/* #endregion */



/* =====================
NAVIGATION BACKGROUND
===================== */
/* #region session */
#nav-bg {
    transform-origin: center center;
    transition: transform .3s;
    transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale));
    will-change: transform;
    pointer-events: none;
}
/* #endregion */



/* ======
BUTTON
====== */
/* #region session */
.test {
    position: fixed;
    height: calc(var(--btn-size)*1px);
    width: calc(var(--btn-size)*1px);
    bottom: calc((var(--offset-value))*1px);
    left: calc(var(--offset-value)*1px);
    /*left: calc(50% - (var(--btn-size)/2*1px)); if you wish to center it */
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    padding: 0 15px;
    border: none;
    z-index: 100;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#toggle-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--orange);
    /*box-shadow: 0 6px 12px rgba(0,0,0,.1);*/
    transition: transform .3s;
}

#toggle-btn span {
    pointer-events: none;
    position: relative;
    width: 100%;
    margin-top: -4px;
}

#toggle-btn span+span {
    margin-top: 8px;
}

#toggle-btn span:before,
#toggle-btn span:after {
    content: '';
    position: absolute;
    top: 0;
    background: currentColor;
    opacity: .8;
    height: 100%;
    width: 50%;
    height: 4px;
    transition: .25s cubic-bezier(.6, 0, .3, 1);
    transform-origin: center center;
}

#toggle-btn span:before {
    left: 0;
    border-radius: 3px 0 0 3px;
}

#toggle-btn span:after {
    right: 0;
    border-radius: 0 3px 3px 0;
}

#toggle-btn.shown span:nth-of-type(1):before {
    transform: translate3d(3px, 3.5px, 0) rotate(45deg);
}

#toggle-btn.shown span:nth-of-type(1):after {
    transform: translate3d(-3px, 3.5px, 0) rotate(-45deg);
}

#toggle-btn.shown span:nth-of-type(3):before {
    transform: translate3d(3px, -3.5px, 0) rotate(-45deg);
}

#toggle-btn.shown span:nth-of-type(3):after {
    transform: translate3d(-3px, -3.5px, 0) rotate(45deg);
}

#toggle-btn.shown span:nth-of-type(2):before,
#toggle-btn.shown span:nth-of-type(2):after {
    opacity: 0.0001;
}

#toggle-btn.shown span:nth-of-type(2):before {
    transform: translateX(-200%);
}

#toggle-btn.shown span:nth-of-type(2):after {
    transform: translateX(200%);
}

#toggle-btn.shown:before {
    transform: scale(.6);
    transition: .2s;
}

#toggle-btn.shown:after {
    background-color: #3B3836;
}

#toggle-btn:before {
    content: '';
    transition: .2s .2s;
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    border-radius: inherit;
    border-width: 0;
    filter: blur(5px);
    z-index: -2;
}

#toggle-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border-width: 0;
    background: #3B3836;
    z-index: -1;
}
/* #endregion */


/* ==========
NAVIGATION
========== */
/* #region session */
nav {
    width: 100%;
    height: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    z-index: 200;
    pointer-events: none;
}

nav .nav_ul {
    margin: 0 auto 0 auto;
    pointer-events: none;
    text-align: center;
}

.nav_ul.shown{
    pointer-events: auto;
}

nav li {
    font-size: 30px;
    color: #FFAA33;
    user-select: none;
    transform: translate(-20px, 20px) scale(.9);
    transition: 0s;
    opacity: 0.0001;
    visibility: hidden;
    will-change: transform;
}

nav li+li {
    margin-top: 30px;
}

#toggle-btn.shown~.wrapper nav li {
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: .35s cubic-bezier(.4, 2.08, .55, 1);
}

#toggle-btn.shown~.wrapper nav li:nth-child(1) {
    transition-delay: .15s;
}

#toggle-btn.shown~.wrapper nav li:nth-child(2) {
    transition-delay: .125s;
}

#toggle-btn.shown~.wrapper nav li:nth-child(3) {
    transition-delay: .1s;
}
/* #endregion */


/* ============
LINK EFFECT
============ */
/* #region session */
.link {
    position: relative;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.link:before,
.link:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 50%;
    background: #FFAA33;
    top: calc(50% + 2px);
    transition: transform .3s cubic-bezier(.5, .5, 0, 1);
}

.link:before {
    left: 0;
    transform: translateX(calc(-100% - 10px)) scaleX(0);
    transform-origin: left;
}

.link:after {
    right: 0;
    transform: translateX(calc(100% + 10px)) scaleX(0);
    transform-origin: right;
}

.link:hover:before {
    transform: translateX(calc(-100% - 10px)) scaleX(1);
    transform-origin: right;
}

.link:hover:after {
    transform: translateX(calc(100% + 10px)) scaleX(1);
    transform-origin: left;
}
/* #endregion */

/* =======
CONTENT
======= */
/* #region session */
#content {
    display: flex;
    height: 100%;
}

#content h1 {
    font-size: calc(4vmin + 1em);
    text-align: center;
    margin: auto;
    color: #fff;
    text-shadow: 0 6px 18px rgba(0, 0, 0, .1);
}
/* #endregion */

/* Usual suspects */
/* #region session */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.nav,
.nav:visited,
.nav:focus,
.nav:active,
.nav:link {
    text-decoration: none;
    outline: 0;
}

.nav {
    color: currentColor;
    transition: .2s ease-in-out;
}

.nav_ul {
    padding: 0;
    list-style: none;
}

img {
    vertical-align: middle;
    height: auto;
    width: 100%;
}
/* #endregion */


/* ============
OTHER SHIT
============ */
/* #region session */
.nav_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon_container p{
    color: #FFAA33;
    pointer-events: none;
}
.icon_container span{
    pointer-events: none;
}

.icon_container {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    user-select: none;
    transform: translate(-20px, 20px) scale(.9);
    transition: 0s;
    opacity: 0.0001;
    visibility: hidden;
    will-change: transform;
    padding: 0.5rem;
}

nav a{
    color: inherit;
    text-decoration: none;
}

#toggle-btn.shown~.wrapper nav .icon_container {
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: .35s cubic-bezier(.4, 2.08, .55, 1);
}

#toggle-btn.shown~.wrapper nav .icon_container:nth-child(1) {
    transition-delay: .15s;
}

#toggle-btn.shown~.wrapper nav .icon_container:nth-child(2) {
    transition-delay: .125s;
}

#toggle-btn.shown~.wrapper nav .icon_container:nth-child(3) {
    transition-delay: .1s;
}
/* #endregion */

/* ============
pulse
============ */
.circle {
    /* width: 35px;
    height: 35px; */
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    aspect-ratio: 1/1;
    /* box-shadow: 0px 0px 1px 1px #0000001a; */
  }

.pulse{
    animation: pulse-scale 300ms ease-out, pulse-animation 300ms 150ms ease-out;
  }

  
  @keyframes pulse-scale {
    0% {
      box-shadow: 0 0 0 0 #3B3836, 0 0 0 0 #FFAA33;
      transform: scale(1.2);
    }
    100% {
      box-shadow: 0 0 0 16px #3B3836, 0 0 0 18px #FFAA33;
      transform: scale(1)
    }
  }

  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px #3B3836, 0 0 0 0px #FFAA33;
    }
    100% {
      box-shadow: 0 0 0 16px #3B3836, 0 0 0 18px #FFAA33;
    }
  }
