#pending_order_container{
    padding: 2rem;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    /* overflow: scroll; */
    /*-ms-overflow-style: none;   IE and Edge */
    /* scrollbar-width: none;  Firefox */
}
#pending_order_container::-webkit-scrollbar {
    display: none;
  }

.card {
    margin: auto !important;;
    border: none
    }
    .logo {
    background-color: #eeeeeea8
    }
    .totals tr td {
    font-size: 13px
    }
    .footer {
    background-color: #eeeeeea8
    }
    .footer span {
    font-size: 12px
    }
    .product-qty span {
    font-size: 12px;
    color: #dedbdb
    }

.container{
    margin: auto 0 !important;
}
body{
    display: flex;
    flex-direction: column;
}
#main{
    display: inline;

}