h1 {
    font-size: calc(4vmin + 1em);
    text-align: center;
    margin: auto;
    color: #ffaa33;
}

.content {
    background-color: #3b3836;
}

body {
    color: #ffaa33;
    background-color: #ffffff;
}

#exercisename_1 {
    background-color: #3b3836;
    text-align: center;

}

#exercisename_2 {
    background-color: #3b3836;
    text-align: center;

}